* {
  margin: 0;
}

.react-multi-carousel-list {
  position: unset !important;
}

.react-multiple-carousel__arrow--left,
.react-multiple-carousel__arrow--right {
  background-color: #eeeeee !important;
  border: 3px solid #cba770 !important;
}

.react-multiple-carousel__arrow--right {
  right: -50px !important ;
}
.react-multiple-carousel__arrow--left {
  left: -50px !important ;
}

.react-multiple-carousel__arrow::before {
  color: #1e5b63 !important ;
}
